// ============================================================================
// テーマ名: default
// 特徴: このテーマを適用しても何も変わりません。このファイルは削除することができます。
// ============================================================================

// ------------------------------------
// header
// ------------------------------------
// main-header
$header-color-bg: rgb( 66, 70, 73 );

// header-icons
$header-icon-color-fg: #ffffff;

// ------------------------------------
// menu
// ------------------------------------
// menu
$menu-color-shadow: rgba( 0, 0, 0, 0.1 );

// menu-item
$menu-item-color-fg:       #555555;
$menu-item-color-bg:       #f7f7f7;
$menu-item-color-border:   #bbbbbb;
$menu-item-color-fg-hover: #ffffff;
$menu-item-color-bg-hover: rgb( 85, 115, 187 );

// ------------------------------------
// panel
// ------------------------------------
// main
$main-color-fg:     #555555;
$main-color-bg:     #f7f7f7;
$main-color-border: #bbbbbb;

// main-item
$main-item-color-fg:     inherit;
$main-item-color-bg:     #ffffff;
$main-item-color-border: #cccccc;

// main-item icons
$main-item-icon-color-fg: #555555;

// ------------------------------------
// trivials
// ------------------------------------
// map
$map-icon-color-fg: #555555;
$map-icon-color-bg: #ffffff;
