$horizontal-padding: 18px;

body {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
}

img
{
  max-width: 100%;
  height: auto;
  box-sizing: border-box;
}

.fixed-header
{
  background-color: rgb( 66, 70, 73 );
  position: fixed;
  width: 100%;
  height: 50px;
  backface-visibility: hidden;
  z-index: 2;
  top: 0px;
  left: 0px;
}

.header
{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  color: #ffffff;
  padding: 0 $horizontal-padding;
  height: 40px;

  .title
  {
    font-size: 16px;
    margin: 0;
    font-weight: normal;
  }

  .toggle
  {
    cursor: pointer;
  }
}
