#menu
{
  background-color: $menu-item-background-color;
  color: $menu-item-color;
  overflow: hidden;
  padding-bottom: 24px;
  box-shadow: 1px 1px 10px 0 $menu-box-shadow-color inset;

  .header
  {
    color: $menu-item-color;
    border-bottom: 1px solid $menu-item-border-color;
    box-shadow: 0 0 2px 0 $menu-box-shadow-color;
  }

  .header:hover
  {
    background-color: $menu-item-background-color_hover;
    color: $menu-item-color_hover;
  }

  .menu-item
  {
    display: block;
  }

  .item
  {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 12px $horizontal-padding;
    border-bottom: 1px solid $menu-item-border-color;
    box-shadow: 0 0 2px 0 $menu-item-box-shadow-color;
    cursor: pointer;
  }

  .item:hover
  {
    background-color: $menu-item-background-color_hover;
    color: $menu-item-color_hover;
  }
}
