#menu
{
  background-color: #f7f7f7;
  color: #555555;
  overflow: hidden;
  padding-bottom: 24px;
  box-shadow: 1px 1px 10px 0 rgba( 0, 0, 0, 0.5 ) inset;

  .header
  {
    color: #555555;
    border-bottom: 1px solid #bbbbbb;
    box-shadow: 0 0 2px 0 rgba( 255, 255, 255, 0.7 );
  }

  .header:hover
  {
    background-color: rgb( 85, 115, 187 );
    color: #ffffff;
  }

  .menu-item
  {
    display: block;
  }

  .item
  {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 12px $horizontal-padding;
    border-bottom: 1px solid #bbbbbb;
    box-shadow: 0 0 2px 0 rgba( 255, 255, 255, 0.7 );
    cursor: pointer;
  }

  .item:hover
  {
    background-color: rgb( 85, 115, 187 );
    color: #ffffff;
  }

  .footer
  {
    flex-wrap: wrap;
    margin-top: auto;
  }
}
