#panel
{
  box-shadow: 0 0 10px 0 $main--color_shadow;
  color: $main-item--color_fg;
  padding-bottom: 24px;
  overflow: hidden;
  background-color: $main--color_bg;

  .main-contents
  {
    display: block;
    margin: 0;
    padding: 0;

    .item
    {
      border: 1px solid $main-item--color_border;
      border-top: 7px solid $main-item--color_border;
      box-shadow: 0 0 2px 0 $main-item--color_shadow;
      margin: 18px;
      padding: 0;
      background-color: $main-item--color_bg;

      .wrap
      {
        margin: 2em $horizontal-padding;
      }

      .item-contents
      {
        display: none;
      }
    }

    .item.active .item-contents
    {
      display: block;
    }

    .item-header
    {
      display: flex;
      justify-content: space-between;
    }

    .item-title
    {
      margin: 0;
      padding: 0;
      font-size: 18px;
    }

    .item-description
    {
      font-size: 14px;
      margin: 1em 0;
    }

    .item-toggle
    {
      font-size: 18px;
      margin-left: 1em;
      color: $main-item-icon--color_fg;
    }

    .toggle
    {
      cursor: pointer;
    }
  }
  .home-contents
  {
    .wrap
    {
      margin: 0 $horizontal-padding;
    }
  }
}
