#panel
{
  color: $main-color-fg;
  background-color: $main-color-bg;
  border-right: 1px solid $main-color-border;

  .home-contents,
  .main-contents
  {
    overflow: hidden;
  }

  .main-contents
  {
    display: block;
    margin: 0;
    padding: 0;

    .item
    {
      border: 1px solid $main-item-color-border;
      border-top-width: 7px;
      box-shadow: 0 0 2px 0 $main-item-color-shadow;
      margin: 18px;
      padding: 0;
      background-color: $main-item-color-bg;

      .wrap
      {
        margin: 2em $horizontal-padding;
      }

      .item-contents
      {
        display: none;
      }
    }

    .item.active .item-contents
    {
      display: block;
    }

    .item-header
    {
      display: flex;
      justify-content: space-between;
    }

    .item-title
    {
      margin: 0;
      padding: 0;
      font-size: 18px;
    }

    .item-description
    {
      font-size: 14px;
      margin: 1em 0;
    }

    .show-map
    {
      cursor: pointer;
      font-size: 32px;
      color: $main-item-icon-color-fg;
    }
  }

  .home-contents
  {
    .wrap
    {
      margin: 0 $horizontal-padding;
    }
  }

  .map
  {
    width: 100%;

    .back
    {
      display: flex;
      justify-content: center;
      align-items: center;
      position: absolute;
      top: $main-menu-height + 10px;
      right: 10px;
      cursor: pointer;
      width: 40px;
      height: 40px;
      border-radius: 40px;
      font-size: 20px;
      color: $map-icon-color-fg;
      background-color: $map-icon-color-bg;
      box-shadow: 0 0 5px 0 $map-icon-color-shadow;
      z-index: 9999;
    }
  }
}

.web-app
{
  #panel
  {
    .map
    {
      .back
      {
        top: $main-menu-height + $app-status-bar-height + 10px;
      }
    }
  }
}
