#panel
{
  color: $main-item--color_fg;
  padding-bottom: 24px;
  overflow: hidden;
  background-color: $main--color_bg;
  border-right: 1px solid #bbbbbb;

  .main-contents
  {
    display: block;
    margin: 0;
    padding: 0;

    .item
    {
      border: 1px solid $main-item--color_border;
      border-top: 7px solid $main-item--color_border;
      box-shadow: 0 0 2px 0 $main-item--color_shadow;
      margin: 18px;
      padding: 0;
      background-color: $main-item--color_bg;

      .wrap
      {
        margin: 2em $horizontal-padding;
      }

      .item-contents
      {
        display: none;
      }
    }

    .item.active .item-contents
    {
      display: block;
    }

    .item-header
    {
      display: flex;
      justify-content: space-between;
    }

    .item-title
    {
      margin: 0;
      padding: 0;
      font-size: 18px;
    }

    .item-description
    {
      font-size: 14px;
      margin: 1em 0;
    }

    .show-map
    {
      cursor: pointer;
      font-size: 32px;
    }
  }

  .home-contents
  {
    .wrap
    {
      margin: 0 $horizontal-padding;
    }
  }

  .map
  {
    .back
    {
      display: flex;
      justify-content: center;
      align-items: center;
      position: absolute;
      top: 10px;
      right: 10px;
      cursor: pointer;
      width: 40px;
      height: 40px;
      border-radius: 40px;
      font-size: 20px;
      background-color: #ffffff;
      box-shadow: 0 0 5px 0 rgba( 0, 0, 0, 0.7 );
      z-index: 9999;
    }
  }
}
