#panel
{
  box-shadow: 0 0 10px 0 rgba( 0, 0, 0, 0.5 );
  color: #555555;
  padding-bottom: 24px;
  overflow: hidden;

  .main-contents
  {
    display: block;
    margin: 0;
    padding: 0;

    .item
    {
      border: 1px solid #cccccc;
      border-top: 7px solid #cccccc;
      box-shadow: 0 0 2px 0 rgba( 0, 0, 0, 0.15 );
      margin: 18px;
      padding: 0;

      .wrap
      {
        margin: 2em $horizontal-padding;
      }

      .item-contents
      {
        display: none;
      }
    }

    .item.active .item-contents
    {
      display: block;
    }

    .item-header
    {
      display: flex;
      justify-content: space-between;
    }

    .item-title
    {
      margin: 0;
      padding: 0;
      font-size: 18px;
    }

    .item-description
    {
      font-size: 14px;
      margin: 1em 0;
    }

    .item-toggle
    {
      font-size: 18px;
      margin-left: 1em;
      color: #cccccc;
    }

    .toggle
    {
      cursor: pointer;
    }
  }
  .home-contents
  {
    .wrap
    {
      margin: 0 $horizontal-padding;
    }
  }
}
