#panel
{
  box-shadow: 0 0 10px 0 rgba( 0, 0, 0, 0.5 );
  background-image: url( ../img/greyzz.png );
  color: #555555;
  padding-top: 50px;
  padding-bottom: 24px;
  overflow: hidden;

  .main-contents
  {
    display: block;
    margin: 0;
    padding: 0;

    .item
    {
      border-bottom: 1px solid #eeeeee;
      box-shadow: 0 0 2px 0 rgba( 255, 255, 255, 1 );
      margin: 0;
      padding: 0;

      .wrap
      {
        margin: 2em $horizontal-padding;
      }
    }
  }
  .home-contents
  {
    .wrap
    {
      margin: 0 $horizontal-padding;
    }
  }
}
