// main-header
$header-color:                     rgb( 66, 70, 73 );
$fixed-header-color:               #ffffff;

// header-icons
$icon-border-color:                #eeeeee;
$icon-background-color:            #ffffff;
$icon-color:                       #555555;

// menu
$menu-box-shadow-color:            rgba( 0, 0, 0, 0.5 );

$menu-item-box-shadow-color:       rgba( 255, 255, 255, 0.7 );
$menu-item-border-color:           #bbbbbb;
$menu-item-color:                  #555555;
$menu-item-color_hover:            #ffffff;
$menu-item-background-color:       #f7f7f7;
$menu-item-background-color_hover: rgb( 85, 115, 187 );

// main-contents
$panel-box-shadow-color:           rgba( 0, 0, 0, 0.5 );
$panel-background-color:           #f7f7f7;

$main-item-box-shadow-color:       rgba( 0, 0, 0, 0.1 );
$main-item-color:                  #555555;
$main-item-background-color:       #ffffff;
$main-item-border-color:           #cccccc;

// main-contents icons
$main-item-icon-color:             #cccccc;
